@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url(./navigation.css);
@import url(./menuDetail.css);
@import url(./aboutus.css);
@import url(./software.css);
@import url(./activities.css);
@import url(./threeContents.css);
@import url(./dark_mode.css);


.list-container{
    font-family: 'Roboto Condensed', sans-serif;
    scroll-behavior: smooth;
    /* transition: 0.2s; */
    display: block;
    margin: 20px auto;
    width: 95%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey, -5px 0px 5px grey;  
}

.list-container .sub_container {
    padding: 20px 40px;
    text-align: justify;
}

@media screen and (max-width: 450px) {
    .list-container {
        font-size: 10px;
    }
}


