@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url(./menuDetail.css);

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    height: 5000px;
}

.navigation_bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #ffffff;
}

.navigation_bar section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
}

.navigation_bar img {
    width: 50px;
    float: right;
}

.navigation_bar h1 {
    font-size: 25px;
    padding: 20px;
    font-weight: bold;
}

.navigation_bar nav {
    padding: 20px;
    margin-left: 30px;
}

.navigation_bar a {
    text-decoration: none;
    color: #000000;
    padding: 20px;
    transition: 0.5s;
}

.navigation_bar a:hover {
    color: blueviolet;
    font-size: 20px;
    transition: 1s;
}

.whitespace {
    height: 100px;
}

.workspace {
    margin-top: 100px;
    margin-left: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.workspace .detail {
    width: 45%;
}

.workspace .image {
    width: 600px;
    float: inline-end;
    margin: auto;
}

.workspace h1 {
    font-size: 80px;
    margin-bottom: 30px;
}

.workspace p {
    font-size: 20px;
    margin-bottom: 50px;
    font-weight: lighter;
    text-align: justify;
}

.workspace h2 {
    width: 100px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    color: #ffffff;
    background-color: #000000;
    font-size: 15px;
    text-align: center;
    padding: 15px;
}

.workspace a {
    text-decoration: none;
}



