@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url(./navigation.css);
@import url(./menuDetail.css);
@import url(./aboutus.css);
@import url(./software.css);
@import url(./activities.css);
@import url(./threeContents.css);

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Condensed', sans-serif;
    scroll-behavior: smooth;
    /* transition: 0.1s; */
}

body {
    margin: 0px;
    height: 5000px;
}
.dark-mode{
    background-color: rgb(57, 53, 53);
    color: white;
    
}
.dark-mode .navigation_bar{
    background-color: rgb(57, 53, 53);
    color: white;
}

#dark-light{
    margin-top: -20px;
    float: right;
}


.dark-mode .navigation_bar ul li a{
    color: rgb(206, 198, 198);
}

body hr {
    width: 1000px;
    display: block;
    margin: auto;
}

.whitespace {
    height: 2px;
}

.icon {
    margin-left: 10px;
}



.workspace img {
    margin-top: 100px;    
}

.intro_image {
    background-image: url('/images/stacked-waves-haikei.png');
    background-repeat: no-repeat;
    position:absolute;
}

.workspace {
    margin-top: 100px;
    margin-left: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.workspace .detail {
    width: 45%;
}

.workspace .image {
    width: 600px;
    float: inline-end;
    margin: auto;
}

.workspace h1 {
    font-size: 80px;
    margin-bottom: 30px;
}

.workspace p {
    font-size: 20px;
    margin-bottom: 50px;
    font-weight: lighter;
    text-align: justify;
}

.workspace h2 {
    width: 100px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    color: #ffffff;
    background-color: #000000;
    font-size: 15px;
    text-align: center;
    padding: 15px;
}

.workspace a {
    text-decoration: none;
}



